table {
    border-collapse: collapse;
    text-align: center;
    border-radius: 1em;
    overflow: hidden;

}
table thead {
    padding: 10px;
    font-weight: bold;
    color: white;
    vertical-align: top;
    border-bottom: 2px solid;
    background-color: #009EFF;
}

.todo-list {
    <!-- line-height: 5; -->
    text-align: left;
    font-size: 0.8em;
    padding: 10px 15px;
    vertical-align: top;
    <!-- border-bottom: 1px solid #ccc; -->

}
